In [ ]:
print(1+2)

3

In [ ]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [ ]:
user_name = "侍花子"
print(user_name)

侍花子

In [ ]:
last_name = "曙"
first_name = "太郎"
sister_name = "花子"

# 3つの辺寸を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は曙太郎です。妹の名前は花子です。

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1]) # 2番目の要素だけを表示

user_names[1] = "侍花子" # 2番目の要素を更新
print(user_names)

user_names.append("侍五郎")  #6番目の要素を追加
print(user_names)

user_names.pop(2) #  3番目の要素を削除
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
#　整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [ ]:
print(45 + 1.8)
print(3 -1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率" + "50" + "％" )
print("降水確率" + str(50) +"％")

降水確率50％
降水確率50％

In [ ]:
print("晴れ" * 5)

晴れ晴れ晴れ晴れ晴れ

In [ ]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")

#  3番目の要素を取り出す
print(country_names[2])

#  すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
country_names = {"アメリカ", "イギリス","日本", "フランス"}

#  セット全体を表示
print(country_names)

country_names.add("ドイツ")  #「ドイツ」をセットに追加
print(country_names)

country_names.remove("イギリス")  #  セットから「イギリス」を削除
print(country_names)

{'アメリカ', 'フランス', 'イギリス', '日本'}
{'日本', 'ドイツ', 'イギリス', 'アメリカ', 'フランス'}
{'日本', 'ドイツ', 'アメリカ', 'フランス'}

In [ ]:
#  連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

#  キー「name」の値を表示
print(personal_data["name"])

#  連想配列全体を表示
print(personal_data)

#  キー「age」の値を更新
personal_data["age"] = 37

#　新しく要素(キーと値)を追加
personal_data["address"] = "東京都"

#  連想配列全体を表示
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [ ]:
print(45 + 18) #  算術演算
print(45 > 18) #

63
True

In [ ]:
print("5" == 5)

False

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

#  変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

#  変数numの値が4であれば、「大当たりです」という文字列を出力する
if num == 4:
  print("大当たりです")

4
大当たりです

In [ ]:
#  ランダムな整数を利用するために、randomもジールをインポート
import random

#  変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

#  変数numの値を出力
print(num)

#  変数のnumの値が4なら「大当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
  print("大当たりです")
else:
  print("ハズレです")

2
ハズレです

In [ ]:
import random
num = random.randint(0, 4)
print(num)

if num == 4:
  print("大当たりです")
elif num == 3:
  print("当たりです")
else:
  print("はずれです")

0
はずれです

In [ ]:
import random

num = random.randint(0, 4)
print(num)

if 1 < num and num < 3:
  print("変数numは1より大きく、3より小さいです")
else:
  print("and条件が成り立ちませんでした")

#　1つでも条件が成り立てば処理を行う(変数numの値が1または3）
if num == 1 or num == 3:
  print("変数numは1または3です")
else:
  print("or条件が成り立ちませんでした")

2
変数numは1より大きく、3より小さいです
or条件が成り立ちませんでした

In [ ]:
base1 = 10
base2 = 20
height = 5

area = (base1 + base2) * height / 2
print(f"{area}cm²")
print(str(area) + "cm²")

75.0cm²
75.0cm²

In [ ]:
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金曜日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]
print(array)
print(array[2])

dictionary = {"mon" : "晴れ","tue" : "雨", "wed" : "晴れ", "thu" : "晴れ", "fri" : "曇り", "sat" : "曇りのち雨", "sun" : "雷雨"}
print(dictionary)
print(dictionary["wed"])

['月曜日は晴れです', '火曜日は雨です', '水曜日は晴れです', '木曜日は晴れです', '金曜日は曇りです', '土曜日は曇りのち雨です', '日曜日は雷雨です']
水曜日は晴れです
{'mon': '晴れ', 'tue': '雨', 'wed': '晴れ', 'thu': '晴れ', 'fri': '曇り', 'sat': '曇りのち雨', 'sun': '雷雨'}
晴れ

In [ ]:
import random
var = random.randint(1, 99)
print(var)

if var % 3 == 0 and var % 5 == 0 :
  print("FizzBuzz")

elif var % 3 == 0 :
  print("Fizz")

elif var % 5 == 0 :
  print("Buzz")

else:
  print(var)

45
FizzBuzz

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
import random

for i in range(1, 11):
    num = random.randint(1, 20)

    print(f"{i}回目の結果は{num}です。")

    if num == 20:
        print("20が出たので繰り返し処理を強制終了いたします。")
        break

1回目の結果は9です。
2回目の結果は5です。
3回目の結果は1です。
4回目の結果は11です。
5回目の結果は19です。
6回目の結果は4です。
7回目の結果は19です。
8回目の結果は4です。
9回目の結果は9です。
10回目の結果は5です。

In [ ]:
for i in range(1, 11):
    if i % 2 == 1:
      continue

    print(i)

2
4
6
8
10

In [ ]:
import random

num = random.randint(0, 4)

print(f"最初の値は{num}です。")

while num != 0:
    num = random.randint(0, 4)
    print(f"現在の値は{num}です。")

最初の値は4です。
現在の値は3です。
現在の値は4です。
現在の値は4です。
現在の値は4です。
現在の値は2です。
現在の値は4です。
現在の値は2です。
現在の値は2です。
現在の値は0です。

In [ ]:
import random

num = random.randint(0, 4)

i = 1
print(f"最初の値は{num}です。")

while num != 0:
    num = random.randint(0, 4)

    if i == 5:
        print("5回目なので繰り返し処理を強制終了します。")
        break

    print(f"現在の値は{num}です。")

    i = i + 1

最初の値は0です。

In [ ]:
import random

sum = 0

while sum < 20:
    num = random.randint(1, 10)
    print(f"{num}が出ました。")

    if num % 2 == 0:
        print("偶数なので加算しません。")
        continue

    sum = sum + num
    print(f"現在の合計は{sum}です。")

1が出ました。
現在の合計は1です。
5が出ました。
現在の合計は6です。
7が出ました。
現在の合計は13です。
2が出ました。
偶数なので加算しません。
2が出ました。
偶数なので加算しません。
2が出ました。
偶数なので加算しません。
7が出ました。
現在の合計は20です。

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
for user in user_names:
    print(user)

侍太郎
侍一郎
侍二郎
侍三郎
侍四郎

In [ ]:
personal_data = {"name" : "侍太郎", "age" : "36", "gender" : "男性"}
for key, value in personal_data.items():
    print(f"私の{key}は{value}です。")

for value in personal_data.values():
    print(value)

私のnameは侍太郎です。
私のageは36です。
私のgenderは男性です。
侍太郎
36
男性

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
for index, value in enumerate(user_names):
    print(f"{index} : {value}")

0 : 侍太郎
1 : 侍一郎
2 : 侍二郎
3 : 侍三郎
4 : 侍四郎

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]
target = "侍二郎"

for user_name in user_names:
    print(user_name)

    if user_name == target:
        print (f"{target}さんが見つかったので、繰り返し処理を強制終了します。")
        break

侍太郎
侍一郎
侍二郎
侍二郎さんが見つかったので、繰り返し処理を強制終了します。

In [ ]:
score = {
    "国語" : 80,
    "数学" : 55,
    "理科" : 70,
    "社会" : 85,
    "英語" : 60,
}

print("合格した科目は以下の通りです。")

for key, value in score.items():
    if(value < 70):
        continue
    print(f"{key} : {value}点")

合格した科目は以下の通りです。
国語 : 80点
理科 : 70点
社会 : 85点

In [ ]:
array = ["水","金","地","火","木","土","天","海","冥"]

for planet in array:
    print(planet)
for planet in array:
    print(planet)

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [ ]:
array = ["水", "金", "地", "火", "木", "土", "天", "海", "冥"]

count = 0

while count < 2:
    for item in array:
        print(item)
    count = count + 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [ ]:
array = ["水","金","地","火","木","土","天","海","冥"]

# for
for item in array:
    print(item)

# while
i=0
while(i < 9):
    print(array[i])
    i+=1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [ ]:
planet_names = ["水","金","地","火","木","土","天","海","冥"]

for _ in range(2):
    for planet_name in planet_names:
        print(planet_name)

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [ ]:
def say_good_morning():
    print("おはようございます！")
    print("昨日はよく眠れましたか？")
    print("今日も一日頑張りましょう")

def say_good_evening():
    print("こんばんは！")
    print("今日も一日お疲れさまでした。")

say_good_morning()

say_good_evening()

おはようございます！
昨日はよく眠れましたか？
今日も一日頑張りましょう
こんばんは！
今日も一日お疲れさまでした。

In [ ]:
def calculate_total(price):
    total = price + 500

    print(f"{total}円")

calculate_total(-700)

-200円

In [ ]:
def add_two_arguments(price, shipping_fee):
    total = price + shipping_fee

    print(f"{total}円")

add_two_arguments(1300, 500)

1800円

In [6]:
def calculate_total(price, tax):
    total = price + price * tax / 100
    return total

total_price = calculate_total(110, 10)
print(f"消費税込みの金額は：{total_price}円です。")

消費税込みの金額は：121.0円です。