In [ ]:
print(1+2)

3

In [ ]:
user_name = "侍太郎"
print(user_name)

侍太郎

In [ ]:
user_name = "侍花子"
print(user_name)

侍花子

In [ ]:
last_name = "曙"
first_name = "太郎"
sister_name = "花子"

# 3つの辺寸を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は曙太郎です。妹の名前は花子です。

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1]) # 2番目の要素だけを表示

user_names[1] = "侍花子" # 2番目の要素を更新
print(user_names)

user_names.append("侍五郎")  #6番目の要素を追加
print(user_names)

user_names.pop(2) #  3番目の要素を削除
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
#　整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [ ]:
print(45 + 1.8)
print(3 -1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率" + "50" + "％" )
print("降水確率" + str(50) +"％")

降水確率50％
降水確率50％

In [ ]:
print("晴れ" * 5)

晴れ晴れ晴れ晴れ晴れ

In [ ]:
country_names = ("日本", "アメリカ", "イギリス", "フランス")

#  3番目の要素を取り出す
print(country_names[2])

#  すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
country_names = {"アメリカ", "イギリス","日本", "フランス"}

#  セット全体を表示
print(country_names)

country_names.add("ドイツ")  #「ドイツ」をセットに追加
print(country_names)

country_names.remove("イギリス")  #  セットから「イギリス」を削除
print(country_names)

{'アメリカ', 'フランス', 'イギリス', '日本'}
{'日本', 'ドイツ', 'イギリス', 'アメリカ', 'フランス'}
{'日本', 'ドイツ', 'アメリカ', 'フランス'}

In [ ]:
#  連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

#  キー「name」の値を表示
print(personal_data["name"])

#  連想配列全体を表示
print(personal_data)

#  キー「age」の値を更新
personal_data["age"] = 37

#　新しく要素(キーと値)を追加
personal_data["address"] = "東京都"

#  連想配列全体を表示
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [ ]:
print(45 + 18) #  算術演算
print(45 > 18) #

63
True

In [ ]:
print("5" == 5)

False

In [ ]:
#ランダムな整数を利用するために、randomモジュールをインポート
import random

#  変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

#  変数numの値が4であれば、「大当たりです」という文字列を出力する
if num == 4:
  print("大当たりです")

4
大当たりです

In [ ]:
#  ランダムな整数を利用するために、randomもジールをインポート
import random

#  変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

#  変数numの値を出力
print(num)

#  変数のnumの値が4なら「大当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
  print("大当たりです")
else:
  print("ハズレです")

2
ハズレです

In [ ]:
import random
num = random.randint(0, 4)
print(num)

if num == 4:
  print("大当たりです")
elif num == 3:
  print("当たりです")
else:
  print("はずれです")

0
はずれです

In [ ]:
import random

num = random.randint(0, 4)
print(num)

if 1 < num and num < 3:
  print("変数numは1より大きく、3より小さいです")
else:
  print("and条件が成り立ちませんでした")

#　1つでも条件が成り立てば処理を行う(変数numの値が1または3）
if num == 1 or num == 3:
  print("変数numは1または3です")
else:
  print("or条件が成り立ちませんでした")

2
変数numは1より大きく、3より小さいです
or条件が成り立ちませんでした

In [10]:
base1 = 10
base2 = 20
height = 5

area = (base1 + base2) * height / 2
print(f"{area}cm²")
print(str(area) + "cm²")

75.0cm²
75.0cm²